[submodule "modules/axi_node"]
	path = generators/pulpino/axi_node
	url = https://github.com/pulp-platform/axi_node.git
[submodule "modules/axi_size_conv"]
	path = generators/pulpino/axi_size_conv
	url = https://github.com/pulp-platform/axi_size_conv.git
[submodule "modules/axi"]
	path = generators/pulpino/axi
	url = https://github.com/pulp-platform/axi.git
[submodule "modules/pulpino/common_cells"]
	path = generators/pulpino/common_cells
	url = https://github.com/pulp-platform/common_cells.git
[submodule "generators/basejump_stl"]
	path = generators/basejump_stl
	url = https://github.com/bespoke-silicon-group/basejump_stl.git
