#############################################################
#                                                           #
# HDMI Interface                                            #
#                                                           #
#############################################################
# NET hdmi_clk        LOC = W18  | IOSTANDARD = LVCMOS33;
# NET hdmi_vsync      LOC = W17  | IOSTANDARD = LVCMOS33;
# NET hdmi_hsync      LOC = V17  | IOSTANDARD = LVCMOS33;
# NET hdmi_data_e     LOC = U16  | IOSTANDARD = LVCMOS33;
# NET hdmi_data[0]    LOC = Y13  | IOSTANDARD = LVCMOS33;
# NET hdmi_data[1]    LOC = AA13 | IOSTANDARD = LVCMOS33;
# NET hdmi_data[2]    LOC = AA14 | IOSTANDARD = LVCMOS33;
# NET hdmi_data[3]    LOC = Y14  | IOSTANDARD = LVCMOS33;
# NET hdmi_data[4]    LOC = AB15 | IOSTANDARD = LVCMOS33;
# NET hdmi_data[5]    LOC = AB16 | IOSTANDARD = LVCMOS33;
# NET hdmi_data[6]    LOC = AA16 | IOSTANDARD = LVCMOS33;
# NET hdmi_data[7]    LOC = AB17 | IOSTANDARD = LVCMOS33;
# NET hdmi_data[8]    LOC = AA17 | IOSTANDARD = LVCMOS33;
# NET hdmi_data[9]    LOC = Y15  | IOSTANDARD = LVCMOS33;
# NET hdmi_data[10]   LOC = W13  | IOSTANDARD = LVCMOS33;
# NET hdmi_data[11]   LOC = W15  | IOSTANDARD = LVCMOS33;
# NET hdmi_data[12]   LOC = V15  | IOSTANDARD = LVCMOS33;
# NET hdmi_data[13]   LOC = U17  | IOSTANDARD = LVCMOS33;
# NET hdmi_data[14]   LOC = V14  | IOSTANDARD = LVCMOS33;
# NET hdmi_data[15]   LOC = V13  | IOSTANDARD = LVCMOS33;
# NET hdmi_spdif      LOC = U15  | IOSTANDARD = LVCMOS33;
# NET hdmi_int        LOC = W16  | IOSTANDARD = LVCMOS33;
# 
# NET hdmi_iic_scl    LOC = AA18 | IOSTANDARD = LVCMOS33;
# NET hdmi_iic_sda    LOC = Y16  | IOSTANDARD = LVCMOS33;

#############################################################
#                                                           #
# VGA Interface                                            #
#                                                           #
#############################################################
# 
# net vga_flyinglogo_0_HSYNC_O_pin LOC = AA19	| IOSTANDARD = LVCMOS33;
# net vga_flyinglogo_0_VSYNC_O_pin LOC = Y19	| IOSTANDARD = LVCMOS33;
# net vga_flyinglogo_0_RED_O_pin<0> LOC = V20	| IOSTANDARD = LVCMOS33;
# net vga_flyinglogo_0_RED_O_pin<1> LOC = U20	| IOSTANDARD = LVCMOS33;
# net vga_flyinglogo_0_RED_O_pin<2> LOC = V19	| IOSTANDARD = LVCMOS33;
# net vga_flyinglogo_0_RED_O_pin<3> LOC = V18	| IOSTANDARD = LVCMOS33;
# net vga_flyinglogo_0_GREEN_O_pin<0> LOC = AB22	| IOSTANDARD = LVCMOS33;
# net vga_flyinglogo_0_GREEN_O_pin<1> LOC = AA22	| IOSTANDARD = LVCMOS33;
# net vga_flyinglogo_0_GREEN_O_pin<2> LOC = AB21	| IOSTANDARD = LVCMOS33;
# net vga_flyinglogo_0_GREEN_O_pin<3> LOC = AA21	| IOSTANDARD = LVCMOS33;
# net vga_flyinglogo_0_BLUE_O_pin<0> LOC = Y21	| IOSTANDARD = LVCMOS33;
# net vga_flyinglogo_0_BLUE_O_pin<1> LOC = Y20	| IOSTANDARD = LVCMOS33;
# net vga_flyinglogo_0_BLUE_O_pin<2> LOC = AB20	| IOSTANDARD = LVCMOS33;
# net vga_flyinglogo_0_BLUE_O_pin<3> LOC = AB19	| IOSTANDARD = LVCMOS33;

#############################################################
#                                                           #
# GPIO Interface                                            #
#                                                           #
#############################################################

############################
#                          #
# GPIO pin to reset the    #
# USB OTG PHY              #
#                          #
############################
# net processing_system7_0_GPIO<0> LOC = G17  | IOSTANDARD = LVCMOS33;	# USB-Reset

############################
#                          #
# On-board OLED            #
#                          #
# Voltage control and      #
# Bitbanged SPI over GPIO  #
#                          #
############################
# net processing_system7_0_GPIO<1> LOC = U11  | IOSTANDARD = LVCMOS33;	# OLED-VBAT
# net processing_system7_0_GPIO<2> LOC = U12  | IOSTANDARD = LVCMOS33;	# OLED-VDD
# net processing_system7_0_GPIO<3> LOC = U9   | IOSTANDARD = LVCMOS33;	# OLED-RES
# net processing_system7_0_GPIO<4> LOC = U10  | IOSTANDARD = LVCMOS33;	# OLED-DC
# net processing_system7_0_GPIO<5> LOC = AB12 | IOSTANDARD = LVCMOS33;	# OLED-SCLK
# net processing_system7_0_GPIO<6> LOC = AA12 | IOSTANDARD = LVCMOS33;	# OLED-SDIN

############################
#                          #
# On-board Left, Right,    #
# Up, Down, and Select     #
# Pushbuttons              #
#                          #
############################
# net processing_system7_0_GPIO<23> LOC = N15 | IOSTANDARD = LVCMOS33;	# BTNL
# net processing_system7_0_GPIO<24> LOC = R18 | IOSTANDARD = LVCMOS33;	# BTNR
# net processing_system7_0_GPIO<25> LOC = T18 | IOSTANDARD = LVCMOS33;	# BTNU
# net processing_system7_0_GPIO<26> LOC = R16 | IOSTANDARD = LVCMOS33;	# BTND
# net processing_system7_0_GPIO<27> LOC = P16 | IOSTANDARD = LVCMOS33;	# BTNS

############################
#                          #
# Pmod JA                  #
#                          #
############################
# net processing_system7_0_GPIO<28> LOC = Y11  | IOSTANDARD = LVCMOS33;	# JA1
# net processing_system7_0_GPIO<29> LOC = AA11 | IOSTANDARD = LVCMOS33;	# JA2
# net processing_system7_0_GPIO<30> LOC = Y10  | IOSTANDARD = LVCMOS33;	# JA3
# net processing_system7_0_GPIO<31> LOC = AA9  | IOSTANDARD = LVCMOS33;	# JA4
# net processing_system7_0_GPIO<32> LOC = AB11 | IOSTANDARD = LVCMOS33;	# JA7
# net processing_system7_0_GPIO<33> LOC = AB10 | IOSTANDARD = LVCMOS33;	# JA8
# net processing_system7_0_GPIO<34> LOC = AB9  | IOSTANDARD = LVCMOS33;	# JA9
# net processing_system7_0_GPIO<35> LOC = AA8  | IOSTANDARD = LVCMOS33;	# JA10

############################
#                          #
# Pmod JB                  #
#                          #
############################
# net processing_system7_0_GPIO<36> LOC = W12 | IOSTANDARD = LVCMOS33;	# JB1
# net processing_system7_0_GPIO<37> LOC = W11 | IOSTANDARD = LVCMOS33;	# JB2
# net processing_system7_0_GPIO<38> LOC = V10 | IOSTANDARD = LVCMOS33;	# JB3
# net processing_system7_0_GPIO<39> LOC = W8  | IOSTANDARD = LVCMOS33;	# JB4
# net processing_system7_0_GPIO<40> LOC = V12 | IOSTANDARD = LVCMOS33;	# JB7
# net processing_system7_0_GPIO<41> LOC = W10 | IOSTANDARD = LVCMOS33;	# JB8
# net processing_system7_0_GPIO<42> LOC = V9  | IOSTANDARD = LVCMOS33;	# JB9
# net processing_system7_0_GPIO<43> LOC = V8  | IOSTANDARD = LVCMOS33;	# JB10

############################
#                          #
# Pmod JC                  #
#                          #
############################
# net processing_system7_0_GPIO<44> LOC = AB7 | IOSTANDARD = LVCMOS33;	# JC1_P	(JC1)
# net processing_system7_0_GPIO<45> LOC = AB6 | IOSTANDARD = LVCMOS33;	# JC1_N	(JC2)
# net processing_system7_0_GPIO<46> LOC = Y4  | IOSTANDARD = LVCMOS33;	# JC2_P	(JC3)
# net processing_system7_0_GPIO<47> LOC = AA4 | IOSTANDARD = LVCMOS33;	# JC2_N	(JC4)
# net processing_system7_0_GPIO<48> LOC = R6  | IOSTANDARD = LVCMOS33;	# JC3_P	(JC7)
# net processing_system7_0_GPIO<49> LOC = T6  | IOSTANDARD = LVCMOS33;	# JC3_N	(JC8)
# net processing_system7_0_GPIO<50> LOC = T4  | IOSTANDARD = LVCMOS33;	# JC4_P	(JC9)
# net processing_system7_0_GPIO<51> LOC = U4  | IOSTANDARD = LVCMOS33;	# JC4_N	(JC10)

############################
#                          #
# Pmod JD                  #
#                          #
############################
# net processing_system7_0_GPIO<52> LOC = V7  | IOSTANDARD = LVCMOS33;	# JD1_P	(JD1)
# net processing_system7_0_GPIO<53> LOC = W7  | IOSTANDARD = LVCMOS33;	# JD1_N	(JD2)
# net processing_system7_0_GPIO<54> LOC = V5  | IOSTANDARD = LVCMOS33;	# JD2_P	(JD3)
# net processing_system7_0_GPIO<55> LOC = V4  | IOSTANDARD = LVCMOS33;	# JD2_N	(JD4)
# net processing_system7_0_GPIO<56> LOC = W6  | IOSTANDARD = LVCMOS33;	# JD3_P	(JD7)
# net processing_system7_0_GPIO<57> LOC = W5  | IOSTANDARD = LVCMOS33;	# JD3_N	(JD8)
# net processing_system7_0_GPIO<58> LOC = U6  | IOSTANDARD = LVCMOS33;	# JD4_P	(JD9)
# net processing_system7_0_GPIO<59> LOC = U5  | IOSTANDARD = LVCMOS33;	# JD4_N	(JD10)
# 

#############################################################
#                                                           #
# Pin for detecting USB OTG over-current condition          #
#                                                           #
#############################################################
# 
# NET otg_oc          LOC = L16  | IOSTANDARD="LVCMOS33";

#NET FCLK0 PERIOD=5.0ns;

#B0      VS      A13     B35-L17_N   D21
#B1      HS      A12     B35-L17_P   E21
#B2      BLUE0   A11     B35-L13_N   B20
#B3      BLUE1   A10     B35-L13_P   B19
#B4      GREEN0  A9      B35-L14_N   C20
#B5      GREEN1  A8      B35-L14_P   D20
#B6      GREEN2  A7      B35-L12_N   C19
#B7      RED0    A6      B35-L12_P   D18
#B8      RED1    A5      B35-L19_N   H20
#B9      RED2    A4      B35-L19_P   H19


#J2_B9       B13_L2_N    W8
#J2_B10      B13_L2_P    V8
#J2_B11      B13_L3_N    W10
#J2_B12      B13_L3_P    W11



#NET "debug[0]" IOSTANDARD = LVCMOS33 | LOC="W8"; #       J2_B9   B13_L2_N    W8   
#NET "debug[1]" IOSTANDARD = LVCMOS33 | LOC="V8"; #       J2_B10  B13_L2_P    V8    
#NET "debug[2]" IOSTANDARD = LVCMOS33 | LOC="W10"; #       J2_B11  B13_L3_N    W10   
#NET "debug[3]" IOSTANDARD = LVCMOS33 | LOC="W11"; #       J2_B12  B13_L3_P    W11   


NET "VGA_VS_n" IOSTANDARD = LVCMOS33 | LOC="V7"; #       J2_A9    B13_L23_P   
NET "VGA_HS_n" IOSTANDARD = LVCMOS33 | LOC="Y10"; #      J2_A10   B13_L10_N   
NET "VGA_blue[4]" IOSTANDARD = LVCMOS33 | LOC="Y11"; #      J2_A11   B13_L10_P   
NET "VGA_blue[3]" IOSTANDARD = LVCMOS33 | LOC="W12"; #      J2_A12   B13_L4_N    
NET "VGA_blue[2]" IOSTANDARD = LVCMOS33 | LOC="V12"; #      J2_A13   B13_L4_P    
NET "VGA_blue[1]" IOSTANDARD = LVCMOS33 | LOC="AA6"; #      J2_A14   B13_L14_N   
NET "VGA_blue[0]" IOSTANDARD = LVCMOS33 | LOC="AA7"; #      J2_A15   B13_L14_P   
NET "VGA_green[4]" IOSTANDARD = LVCMOS33 | LOC="V9"; #       J2_A16   B13_L1_N    
NET "VGA_green[3]" IOSTANDARD = LVCMOS33 | LOC="V10"; #      J2_A17   B13_L1_P    
NET "VGA_green[2]" IOSTANDARD = LVCMOS33 | LOC="U11"; #      J2_A18   B13_L5_N    
NET "VGA_green[1]" IOSTANDARD = LVCMOS33 | LOC="U12"; #      J2_A19   B13_L5_P    
NET "VGA_green[0]" IOSTANDARD = LVCMOS33 | LOC="W18"; #      J2_A20   B33_L13_N   
NET "VGA_red[4]" IOSTANDARD = LVCMOS33 | LOC="W17"; #      J2_A21   B33_L13_P   
NET "VGA_red[3]" IOSTANDARD = LVCMOS33 | LOC="AA19"; #     J2_A22   B33_L11_N   
NET "VGA_red[2]" IOSTANDARD = LVCMOS33 | LOC="Y19"; #      J2_A23   B33_L11_P   
NET "VGA_red[1]" IOSTANDARD = LVCMOS33 | LOC="AB22"; #     J2_A24   B33_L7_N    
NET "VGA_red[0]" IOSTANDARD = LVCMOS33 | LOC="AA22"; #     J2_A25   B33_L7_P    


#############################################################
#                                                           #
# Pins for Camera module                                    #
#                                                           #
#############################################################


NET "CAM0_SIO_C" IOSTANDARD = LVCMOS33 | LOC="J16" | SLEW=FAST; #     J1_C21  B34_L2_P   
NET "CAM0_VSYNC" IOSTANDARD = LVCMOS33 | LOC="R19"; #     J1_C22  B34_L22_P    
NET "CAM0_PCLK" IOSTANDARD = LVCMOS33 | LOC="T19"; #     J1_C23  B34_L22_N    
NET "CAM0_DIN[9]" IOSTANDARD = LVCMOS33 | LOC="J20"; #     J1_C24  B34_L9_P     
NET "CAM0_DIN[7]" IOSTANDARD = LVCMOS33 | LOC="K21"; #     J1_C25  B34_L9_N     
NET "CAM0_DIN[5]" IOSTANDARD = LVCMOS33 | LOC="R18"; #     J1_C26  B34_L23_P    
NET "CAM0_DIN[3]" IOSTANDARD = LVCMOS33 | LOC="T18"; #     J1_C27  B34_L23_N    
NET "CAM0_PWDN" IOSTANDARD = LVCMOS33 | LOC="N19"; #     J1_C28  B34_L14_P    
NET "CAM0_SIO_D" IOSTANDARD = LVCMOS33 | LOC="K18" | SLEW=FAST; #      J1_B21  B34_L7_N   
NET "CAM0_HREF" IOSTANDARD = LVCMOS33 | LOC="J18"; #     J1_B22  B34_L7_P    
NET "CAM0_XCLK" IOSTANDARD = LVCMOS33 | LOC="J15"; #     J1_B23  B34_L1_P    
NET "CAM0_DIN[8]" IOSTANDARD = LVCMOS33 | LOC="K15"; #     J1_B24  B34_L1_N    
NET "CAM0_DIN[6]" IOSTANDARD = LVCMOS33 | LOC="P17"; #     J1_B25  B34_L20_P   
NET "CAM0_DIN[4]" IOSTANDARD = LVCMOS33 | LOC="P18"; #     J1_B26  B34_L20_N   
NET "CAM0_DIN[2]" IOSTANDARD = LVCMOS33 | LOC="M19"; #     J1_B27  B34_L13_P   
NET "CAM1_SIO_C" IOSTANDARD = LVCMOS33 | LOC="E19" | SLEW=FAST; #     J1_C10   B35_L21_P  
NET "CAM1_VSYNC" IOSTANDARD = LVCMOS33 | LOC="E20"; #     J1_C11   B35_L21_N  
NET "CAM1_PCLK" IOSTANDARD = LVCMOS33 | LOC="D16"; #     J1_C12   B35_L2_P   
NET "CAM1_DIN[9]" IOSTANDARD = LVCMOS33 | LOC="D17"; #     J1_C13   B35_L2_N   
NET "CAM1_DIN[7]" IOSTANDARD = LVCMOS33 | LOC="A21"; #     J1_C14   B35_L15_P  
NET "CAM1_DIN[5]" IOSTANDARD = LVCMOS33 | LOC="A22"; #     J1_C15   B35_L15_N  
NET "CAM1_DIN[3]" IOSTANDARD = LVCMOS33 | LOC="H22"; #     J1_C16   B35_L24_P  
NET "CAM1_PWDN" IOSTANDARD = LVCMOS33 | LOC="G22"; #     J1_C17   B35_L24_N  
NET "CAM1_SIO_D" IOSTANDARD = LVCMOS33 | LOC="C18" | SLEW=FAST; #     J1_B10   B35_L11_N 
NET "CAM1_HREF" IOSTANDARD = LVCMOS33 | LOC="B16"; #     J1_B11   B35_L8_P    
NET "CAM1_XCLK" IOSTANDARD = LVCMOS33 | LOC="B17"; #     J1_B12   B35_L8_N    
NET "CAM1_DIN[8]" IOSTANDARD = LVCMOS33 | LOC="G20"; #     J1_B13   B35_L22_P   
NET "CAM1_DIN[6]" IOSTANDARD = LVCMOS33 | LOC="G21"; #     J1_B14   B35_L22_N   
NET "CAM1_DIN[4]" IOSTANDARD = LVCMOS33 | LOC="B21"; #     J1_B15   B35_L18_P   
NET "CAM1_DIN[2]" IOSTANDARD = LVCMOS33 | LOC="B22"; #     J1_B16   B35_L18_N   


#19      (None)  J1_C29  B34_L14_N   N20    
#18      (None)  J1_B28  B34_L13_N   M20  
#20      (None)  J1_B29  B34_L15_P   M21  
#
#19      (None)  J1_C18   B34_L8_N    J22   
#18      (None)  J1_B17   B35_L10_P   A18    
#20      (None)  J1_B18   B35_L10_N   A19    








#NET "J1_A[4]" IOSTANDARD = LVCMOS33 | LOC = "H19"; #B35_L19_P
#NET "J1_A[5]" IOSTANDARD = LVCMOS33 | LOC = "H20"; #B35_L19_N
#NET "J1_A[6]" IOSTANDARD = LVCMOS33 | LOC = "D18"; #B35_L12_P
#NET "J1_A[7]" IOSTANDARD = LVCMOS33 | LOC = "C19"; #B35_L12_N
#NET "J1_A[8]" IOSTANDARD = LVCMOS33 | LOC = "D20"; #B35_L14_P
#NET "J1_A[9]" IOSTANDARD = LVCMOS33 | LOC = "C20"; #B35_L14_N
#NET "J1_A[10]" IOSTANDARD = LVCMOS33 | LOC = "B19"; #B35_L13_P
#NET "J1_A[11]" IOSTANDARD = LVCMOS33 | LOC = "B20"; #B35_L13_N
#NET "J1_A[12]" IOSTANDARD = LVCMOS33 | LOC = "E21"; #B35_L17_P
#NET "J1_A[13]" IOSTANDARD = LVCMOS33 | LOC = "D21"; #B35_L17_N
#NET "J1_A[14]" IOSTANDARD = LVCMOS33 | LOC = "C15"; #B35_L7_P
#NET "J1_A[15]" IOSTANDARD = LVCMOS33 | LOC = "B15"; #B35_L7_N
#NET "J1_A[16]" IOSTANDARD = LVCMOS33 | LOC = "A16"; #B35_L9_P
#NET "J1_A[17]" IOSTANDARD = LVCMOS33 | LOC = "A17"; #B35_L9_N
#NET "J1_A[18]" IOSTANDARD = LVCMOS33 | LOC = "D22"; #B35_L16_P
#NET "J1_A[19]" IOSTANDARD = LVCMOS33 | LOC = "C22"; #B35_L16_N
#NET "J1_A[20]" IOSTANDARD = LVCMOS33 | LOC = "L19"; #B34_L12_N
#NET "J1_A[21]" IOSTANDARD = LVCMOS33 | LOC = "L18"; #B34_L12_P
#NET "J1_A[22]" IOSTANDARD = LVCMOS33 | LOC = "N18"; #B34_L5_N
#NET "J1_A[23]" IOSTANDARD = LVCMOS33 | LOC = "N17"; #B34_L5_P
#NET "J1_A[24]" IOSTANDARD = LVCMOS33 | LOC = "P20"; #B34_L18_P
#NET "J1_A[25]" IOSTANDARD = LVCMOS33 | LOC = "P21"; #B34_L18_N
#NET "J1_A[26]" IOSTANDARD = LVCMOS33 | LOC = "L21"; #B34_L10_P
#NET "J1_A[27]" IOSTANDARD = LVCMOS33 | LOC = "L22"; #B34_L10_N
#NET "J1_A[28]" IOSTANDARD = LVCMOS33 | LOC = "T16"; #B34_L21_P
#NET "J1_A[29]" IOSTANDARD = LVCMOS33 | LOC = "T17"; #B34_L21_N
#NET "J1_A[30]" IOSTANDARD = LVCMOS33 | LOC = "R20"; #B34_L17_P
#NET "J1_A[31]" IOSTANDARD = LVCMOS33 | LOC = "R21"; #B34_L17_N
#
#NET "J1_B[3]" IOSTANDARD = LVCMOS33 | LOC = "G17"; #B35_L6_P
#NET "J1_B[4]" IOSTANDARD = LVCMOS33 | LOC = "F17"; #B35_L6_N
#NET "J1_B[5]" IOSTANDARD = LVCMOS33 | LOC = "F18"; #B35_L5_P
#NET "J1_B[6]" IOSTANDARD = LVCMOS33 | LOC = "E18"; #B35_L5_N
#NET "J1_B[7]" IOSTANDARD = LVCMOS33 | LOC = "F21"; #B35_L23_P
#NET "J1_B[8]" IOSTANDARD = LVCMOS33 | LOC = "F22"; #B35_L23_N
#NET "J1_B[9]" IOSTANDARD = LVCMOS33 | LOC = "C17"; #B35_L11_P
#NET "J1_B[10]" IOSTANDARD = LVCMOS33 | LOC = "C18"; #B35_L11_N
#NET "J1_B[11]" IOSTANDARD = LVCMOS33 | LOC = "B16"; #B35_L8_P
#NET "J1_B[12]" IOSTANDARD = LVCMOS33 | LOC = "B17"; #B35_L8_N
#NET "J1_B[13]" IOSTANDARD = LVCMOS33 | LOC = "G20"; #B35_L22_P
#NET "J1_B[14]" IOSTANDARD = LVCMOS33 | LOC = "G21"; #B35_L22_N
#NET "J1_B[15]" IOSTANDARD = LVCMOS33 | LOC = "B21"; #B35_L18_P
#NET "J1_B[16]" IOSTANDARD = LVCMOS33 | LOC = "B22"; #B35_L18_N
#NET "J1_B[17]" IOSTANDARD = LVCMOS33 | LOC = "A18"; #B35_L10_P
#NET "J1_B[18]" IOSTANDARD = LVCMOS33 | LOC = "A19"; #B35_L10_N
#NET "J1_B[19]" IOSTANDARD = LVCMOS33 | LOC = "M17"; #B34_L4_N
#NET "J1_B[20]" IOSTANDARD = LVCMOS33 | LOC = "L17"; #B34_L4_P
#NET "J1_B[21]" IOSTANDARD = LVCMOS33 | LOC = "K18"; #B34_L7_N
#NET "J1_B[22]" IOSTANDARD = LVCMOS33 | LOC = "J18"; #B34_L7_P
#NET "J1_B[23]" IOSTANDARD = LVCMOS33 | LOC = "J15"; #B34_L1_P
#NET "J1_B[24]" IOSTANDARD = LVCMOS33 | LOC = "K15"; #B34_L1_N
#NET "J1_B[25]" IOSTANDARD = LVCMOS33 | LOC = "P17"; #B34_L20_P
#NET "J1_B[26]" IOSTANDARD = LVCMOS33 | LOC = "P18"; #B34_L20_N
#NET "J1_B[27]" IOSTANDARD = LVCMOS33 | LOC = "M19"; #B34_L13_P
#NET "J1_B[28]" IOSTANDARD = LVCMOS33 | LOC = "M20"; #B34_L13_N
#NET "J1_B[29]" IOSTANDARD = LVCMOS33 | LOC = "M21"; #B34_L15_P
#NET "J1_B[30]" IOSTANDARD = LVCMOS33 | LOC = "M22"; #B34_L15_N
#
#NET "J1_C[2]" IOSTANDARD = LVCMOS33 | LOC = "F16"; #B35_L1_P
#NET "J1_C[3]" IOSTANDARD = LVCMOS33 | LOC = "E16"; #B35_L1_N
#NET "J1_C[4]" IOSTANDARD = LVCMOS33 | LOC = "E15"; #B35_L3_P
#NET "J1_C[5]" IOSTANDARD = LVCMOS33 | LOC = "D15"; #B35_L3_N
#NET "J1_C[6]" IOSTANDARD = LVCMOS33 | LOC = "G19"; #B35_L20_P
#NET "J1_C[7]" IOSTANDARD = LVCMOS33 | LOC = "F19"; #B35_L20_N
#NET "J1_C[8]" IOSTANDARD = LVCMOS33 | LOC = "G15"; #B35_L4_P
#NET "J1_C[9]" IOSTANDARD = LVCMOS33 | LOC = "G16"; #B35_L4_N
#NET "J1_C[10]" IOSTANDARD = LVCMOS33 | LOC = "E19"; #B35_L21_P
#NET "J1_C[11]" IOSTANDARD = LVCMOS33 | LOC = "E20"; #B35_L21_N
#NET "J1_C[12]" IOSTANDARD = LVCMOS33 | LOC = "D16"; #B35_L2_P
#NET "J1_C[13]" IOSTANDARD = LVCMOS33 | LOC = "D17"; #B35_L2_N
#NET "J1_C[14]" IOSTANDARD = LVCMOS33 | LOC = "A21"; #B35_L15_P
#NET "J1_C[15]" IOSTANDARD = LVCMOS33 | LOC = "A22"; #B35_L15_N
#NET "J1_C[16]" IOSTANDARD = LVCMOS33 | LOC = "H22"; #B35_L24_P
#NET "J1_C[17]" IOSTANDARD = LVCMOS33 | LOC = "G22"; #B35_L24_N
#NET "J1_C[18]" IOSTANDARD = LVCMOS33 | LOC = "J22"; #B34_L8_N
#NET "J1_C[19]" IOSTANDARD = LVCMOS33 | LOC = "J21"; #B34_L8_P
#NET "J1_C[20]" IOSTANDARD = LVCMOS33 | LOC = "J17"; #B34_L2_N
#NET "J1_C[21]" IOSTANDARD = LVCMOS33 | LOC = "J16"; #B34_L2_P
#NET "J1_C[22]" IOSTANDARD = LVCMOS33 | LOC = "R19"; #B34_L22_P
#NET "J1_C[23]" IOSTANDARD = LVCMOS33 | LOC = "T19"; #B34_L22_N
#NET "J1_C[24]" IOSTANDARD = LVCMOS33 | LOC = "J20"; #B34_L9_P
#NET "J1_C[25]" IOSTANDARD = LVCMOS33 | LOC = "K21"; #B34_L9_N
#NET "J1_C[26]" IOSTANDARD = LVCMOS33 | LOC = "R18"; #B34_L23_P
#NET "J1_C[27]" IOSTANDARD = LVCMOS33 | LOC = "T18"; #B34_L23_N
#NET "J1_C[28]" IOSTANDARD = LVCMOS33 | LOC = "N19"; #B34_L14_P
#NET "J1_C[29]" IOSTANDARD = LVCMOS33 | LOC = "N20"; #B34_L14_N

#NET "J2_A[4]" IOSTANDARD = LVCMOS33 | LOC = "AA4"; #B13_L18_N
#NET "J2_A[5]" IOSTANDARD = LVCMOS33 | LOC = "Y4"; #B13_L18_P
#NET "J2_A[6]" IOSTANDARD = LVCMOS33 | LOC = "T6"; #B13_L19_N
#NET "J2_A[7]" IOSTANDARD = LVCMOS33 | LOC = "R6"; #B13_L19_P
#NET "J2_A[8]" IOSTANDARD = LVCMOS33 | LOC = "W7"; #B13_L23_N
#NET "J2_A[9]" IOSTANDARD = LVCMOS33 | LOC = "V7"; #B13_L23_P
#NET "J2_A[10]" IOSTANDARD = LVCMOS33 | LOC = "Y10"; #B13_L10_N
#NET "J2_A[11]" IOSTANDARD = LVCMOS33 | LOC = "Y11"; #B13_L10_P
#NET "J2_A[12]" IOSTANDARD = LVCMOS33 | LOC = "W12"; #B13_L4_N
#NET "J2_A[13]" IOSTANDARD = LVCMOS33 | LOC = "V12"; #B13_L4_P
#NET "J2_A[14]" IOSTANDARD = LVCMOS33 | LOC = "AA6"; #B13_L14_N
#NET "J2_A[15]" IOSTANDARD = LVCMOS33 | LOC = "AA7"; #B13_L14_P
#NET "J2_A[16]" IOSTANDARD = LVCMOS33 | LOC = "V9"; #B13_L1_N
#NET "J2_A[17]" IOSTANDARD = LVCMOS33 | LOC = "V10"; #B13_L1_P
#NET "J2_A[18]" IOSTANDARD = LVCMOS33 | LOC = "U11"; #B13_L5_N
#NET "J2_A[19]" IOSTANDARD = LVCMOS33 | LOC = "U12"; #B13_L5_P
#NET "J2_A[20]" IOSTANDARD = LVCMOS33 | LOC = "W18"; #B33_L13_N
#NET "J2_A[21]" IOSTANDARD = LVCMOS33 | LOC = "W17"; #B33_L13_P
#NET "J2_A[22]" IOSTANDARD = LVCMOS33 | LOC = "AA19"; #B33_L11_N
#NET "J2_A[23]" IOSTANDARD = LVCMOS33 | LOC = "Y19"; #B33_L11_P
#NET "J2_A[24]" IOSTANDARD = LVCMOS33 | LOC = "AB22"; #B33_L7_N
#NET "J2_A[25]" IOSTANDARD = LVCMOS33 | LOC = "AA22"; #B33_L7_P

#NET "J2_B[3]" IOSTANDARD = LVCMOS33 | LOC = "V4"; #B13_L21_N
#NET "J2_B[4]" IOSTANDARD = LVCMOS33 | LOC = "V5"; #B13_L21_P
#NET "J2_B[5]" IOSTANDARD = LVCMOS33 | LOC = "U5"; #B13_L22_N
#NET "J2_B[6]" IOSTANDARD = LVCMOS33 | LOC = "U6"; #B13_L22_P
#NET "J2_B[7]" IOSTANDARD = LVCMOS33 | LOC = "W5"; #B13_L24_N
#NET "J2_B[8]" IOSTANDARD = LVCMOS33 | LOC = "W6"; #B13_L24_P
#NET "J2_B[9]" IOSTANDARD = LVCMOS33 | LOC = "W8"; #B13_L2_N
#NET "J2_B[10]" IOSTANDARD = LVCMOS33 | LOC = "V8"; #B13_L2_P
#NET "J2_B[11]" IOSTANDARD = LVCMOS33 | LOC = "W10"; #B13_L3_N
#NET "J2_B[12]" IOSTANDARD = LVCMOS33 | LOC = "W11"; #B13_L3_P
#NET "J2_B[13]" IOSTANDARD = LVCMOS33 | LOC = "Y5"; #B13_L13_N
#NET "J2_B[14]" IOSTANDARD = LVCMOS33 | LOC = "Y6"; #B13_L13_P
#NET "J2_B[15]" IOSTANDARD = LVCMOS33 | LOC = "Y8"; #B13_L12_N
#NET "J2_B[16]" IOSTANDARD = LVCMOS33 | LOC = "Y9"; #B13_L12_P
#NET "J2_B[17]" IOSTANDARD = LVCMOS33 | LOC = "U9"; #B13_L6_N
#NET "J2_B[18]" IOSTANDARD = LVCMOS33 | LOC = "U10"; #B13_L6_P
#NET "J2_B[19]" IOSTANDARD = LVCMOS33 | LOC = "Y16"; #B33_L14_N
#NET "J2_B[20]" IOSTANDARD = LVCMOS33 | LOC = "W16"; #B33_L14_P
#NET "J2_B[21]" IOSTANDARD = LVCMOS33 | LOC = "W21"; #B33_L4_N
#NET "J2_B[22]" IOSTANDARD = LVCMOS33 | LOC = "W20"; #B33_L4_P
#NET "J2_B[23]" IOSTANDARD = LVCMOS33 | LOC = "AB21"; #B33_L8_N
#NET "J2_B[24]" IOSTANDARD = LVCMOS33 | LOC = "AA21"; #B33_L8_P

#NET "J2_C[2]" IOSTANDARD = LVCMOS33 | LOC = "AB1"; #B13_L15_N
#NET "J2_C[3]" IOSTANDARD = LVCMOS33 | LOC = "AB2"; #B13_L15_P
#NET "J2_C[4]" IOSTANDARD = LVCMOS33 | LOC = "AB4"; #B13_L16_N
#NET "J2_C[5]" IOSTANDARD = LVCMOS33 | LOC = "AB5"; #B13_L16_P
#NET "J2_C[6]" IOSTANDARD = LVCMOS33 | LOC = "AB6"; #B13_L17_N
#NET "J2_C[7]" IOSTANDARD = LVCMOS33 | LOC = "AB7"; #B13_L17_P
#NET "J2_C[8]" IOSTANDARD = LVCMOS33 | LOC = "U4"; #B13_L20_N
#NET "J2_C[9]" IOSTANDARD = LVCMOS33 | LOC = "T4"; #B13_L20_P
#NET "J2_C[10]" IOSTANDARD = LVCMOS33 | LOC = "AB9"; #B13_L9_N
#NET "J2_C[11]" IOSTANDARD = LVCMOS33 | LOC = "AB10"; #B13_L9_P
#NET "J2_C[12]" IOSTANDARD = LVCMOS33 | LOC = "AA8"; #B13_L11_N
#NET "J2_C[13]" IOSTANDARD = LVCMOS33 | LOC = "AA9"; #B13_L11_P
#NET "J2_C[14]" IOSTANDARD = LVCMOS33 | LOC = "AB11"; #B13_L8_N
#NET "J2_C[15]" IOSTANDARD = LVCMOS33 | LOC = "AA11"; #B13_L8_P
#NET "J2_C[16]" IOSTANDARD = LVCMOS33 | LOC = "AB12"; #B13_L7_N
#NET "J2_C[17]" IOSTANDARD = LVCMOS33 | LOC = "AA12"; #B13_L7_P
#NET "J2_C[18]" IOSTANDARD = LVCMOS33 | LOC = "AB16"; #B33_L18_N
#NET "J2_C[19]" IOSTANDARD = LVCMOS33 | LOC = "AA16"; #B33_L18_P
#NET "J2_C[20]" IOSTANDARD = LVCMOS33 | LOC = "AB17"; #B33_L17_N
#NET "J2_C[21]" IOSTANDARD = LVCMOS33 | LOC = "AA17"; #B33_L17_P
#NET "J2_C[22]" IOSTANDARD = LVCMOS33 | LOC = "AA18"; #B33_L12_N
#NET "J2_C[23]" IOSTANDARD = LVCMOS33 | LOC = "Y18"; #B33_L12_P








































# Input clock periods. These duplicate the values entered for the
#  input clocks. You can use these to time your system
#----------------------------------------------------------------
NET FCLK0 PERIOD=5.0ns;
NET FCLK1 PERIOD=5.0ns;
#NET "FCLK0" TNM_NET = "FCLK0";
#NET "FCLK1" TNM_NET = "FCLK1";
#TIMESPEC "TS_FCLK0" = PERIOD "FCLK0" 9.930 ns HIGH 50% INPUT_JITTER 100.0ps;


# FALSE PATH constraints 
#PIN "RESET" TIG;
