#############################################################
#                                                           #
# HDMI Interface                                            #
#                                                           #
#############################################################
# NET hdmi_clk        LOC = W18  | IOSTANDARD = LVCMOS33;
# NET hdmi_vsync      LOC = W17  | IOSTANDARD = LVCMOS33;
# NET hdmi_hsync      LOC = V17  | IOSTANDARD = LVCMOS33;
# NET hdmi_data_e     LOC = U16  | IOSTANDARD = LVCMOS33;
# NET hdmi_data[0]    LOC = Y13  | IOSTANDARD = LVCMOS33;
# NET hdmi_data[1]    LOC = AA13 | IOSTANDARD = LVCMOS33;
# NET hdmi_data[2]    LOC = AA14 | IOSTANDARD = LVCMOS33;
# NET hdmi_data[3]    LOC = Y14  | IOSTANDARD = LVCMOS33;
# NET hdmi_data[4]    LOC = AB15 | IOSTANDARD = LVCMOS33;
# NET hdmi_data[5]    LOC = AB16 | IOSTANDARD = LVCMOS33;
# NET hdmi_data[6]    LOC = AA16 | IOSTANDARD = LVCMOS33;
# NET hdmi_data[7]    LOC = AB17 | IOSTANDARD = LVCMOS33;
# NET hdmi_data[8]    LOC = AA17 | IOSTANDARD = LVCMOS33;
# NET hdmi_data[9]    LOC = Y15  | IOSTANDARD = LVCMOS33;
# NET hdmi_data[10]   LOC = W13  | IOSTANDARD = LVCMOS33;
# NET hdmi_data[11]   LOC = W15  | IOSTANDARD = LVCMOS33;
# NET hdmi_data[12]   LOC = V15  | IOSTANDARD = LVCMOS33;
# NET hdmi_data[13]   LOC = U17  | IOSTANDARD = LVCMOS33;
# NET hdmi_data[14]   LOC = V14  | IOSTANDARD = LVCMOS33;
# NET hdmi_data[15]   LOC = V13  | IOSTANDARD = LVCMOS33;
# NET hdmi_spdif      LOC = U15  | IOSTANDARD = LVCMOS33;
# NET hdmi_int        LOC = W16  | IOSTANDARD = LVCMOS33;
# 
# NET hdmi_iic_scl    LOC = AA18 | IOSTANDARD = LVCMOS33;
# NET hdmi_iic_sda    LOC = Y16  | IOSTANDARD = LVCMOS33;

#############################################################
#                                                           #
# VGA Interface                                            #
#                                                           #
#############################################################
# 
# net vga_flyinglogo_0_HSYNC_O_pin LOC = AA19	| IOSTANDARD = LVCMOS33;
# net vga_flyinglogo_0_VSYNC_O_pin LOC = Y19	| IOSTANDARD = LVCMOS33;
# net vga_flyinglogo_0_RED_O_pin<0> LOC = V20	| IOSTANDARD = LVCMOS33;
# net vga_flyinglogo_0_RED_O_pin<1> LOC = U20	| IOSTANDARD = LVCMOS33;
# net vga_flyinglogo_0_RED_O_pin<2> LOC = V19	| IOSTANDARD = LVCMOS33;
# net vga_flyinglogo_0_RED_O_pin<3> LOC = V18	| IOSTANDARD = LVCMOS33;
# net vga_flyinglogo_0_GREEN_O_pin<0> LOC = AB22	| IOSTANDARD = LVCMOS33;
# net vga_flyinglogo_0_GREEN_O_pin<1> LOC = AA22	| IOSTANDARD = LVCMOS33;
# net vga_flyinglogo_0_GREEN_O_pin<2> LOC = AB21	| IOSTANDARD = LVCMOS33;
# net vga_flyinglogo_0_GREEN_O_pin<3> LOC = AA21	| IOSTANDARD = LVCMOS33;
# net vga_flyinglogo_0_BLUE_O_pin<0> LOC = Y21	| IOSTANDARD = LVCMOS33;
# net vga_flyinglogo_0_BLUE_O_pin<1> LOC = Y20	| IOSTANDARD = LVCMOS33;
# net vga_flyinglogo_0_BLUE_O_pin<2> LOC = AB20	| IOSTANDARD = LVCMOS33;
# net vga_flyinglogo_0_BLUE_O_pin<3> LOC = AB19	| IOSTANDARD = LVCMOS33;

#############################################################
#                                                           #
# GPIO Interface                                            #
#                                                           #
#############################################################

############################
#                          #
# GPIO pin to reset the    #
# USB OTG PHY              #
#                          #
############################
# net processing_system7_0_GPIO<0> LOC = G17  | IOSTANDARD = LVCMOS33;	# USB-Reset

############################
#                          #
# On-board OLED            #
#                          #
# Voltage control and      #
# Bitbanged SPI over GPIO  #
#                          #
############################
# net processing_system7_0_GPIO<1> LOC = U11  | IOSTANDARD = LVCMOS33;	# OLED-VBAT
# net processing_system7_0_GPIO<2> LOC = U12  | IOSTANDARD = LVCMOS33;	# OLED-VDD
# net processing_system7_0_GPIO<3> LOC = U9   | IOSTANDARD = LVCMOS33;	# OLED-RES
# net processing_system7_0_GPIO<4> LOC = U10  | IOSTANDARD = LVCMOS33;	# OLED-DC
# net processing_system7_0_GPIO<5> LOC = AB12 | IOSTANDARD = LVCMOS33;	# OLED-SCLK
# net processing_system7_0_GPIO<6> LOC = AA12 | IOSTANDARD = LVCMOS33;	# OLED-SDIN

############################
#                          #
# On-board LED's           #
#                          #
############################
net LED<0>  LOC = C6 | IOSTANDARD = LVCMOS15;	# LD0
net LED<1>  LOC = B6 | IOSTANDARD = LVCMOS15;	# LD1
net LED<2>  LOC = L9 | IOSTANDARD = LVCMOS15;	# LD2
net LED<3> LOC = L10 | IOSTANDARD = LVCMOS15;	# LD3
net LED<4> LOC = K10 | IOSTANDARD = LVCMOS15;	# LD4
net LED<5> LOC = K11 | IOSTANDARD = LVCMOS15;	# LD5
net LED<6> LOC = L12 | IOSTANDARD = LVCMOS15;	# LD6
net LED<7> LOC = K12 | IOSTANDARD = LVCMOS15;	# LD7

############################
#                          #
# On-board Slide Switches  #
#                          #
############################
#net SWITCH<0> LOC = F22 | IOSTANDARD = LVCMOS33;	# SW0
#net SWITCH<1> LOC = G22 | IOSTANDARD = LVCMOS33;	# SW1
#net SWITCH<2> LOC = H22 | IOSTANDARD = LVCMOS33;	# SW2
#net SWITCH<3> LOC = F21 | IOSTANDARD = LVCMOS33;	# SW3
#net SWITCH<4> LOC = H19 | IOSTANDARD = LVCMOS33;	# SW4
#net SWITCH<5> LOC = H18 | IOSTANDARD = LVCMOS33;	# SW5
#net SWITCH<6> LOC = H17 | IOSTANDARD = LVCMOS33;	# SW6
#net SWITCH<7> LOC = M15 | IOSTANDARD = LVCMOS33;	# SW7

############################
#                          #
# On-board Left, Right,    #
# Up, Down, and Select     #
# Pushbuttons              #
#                          #
############################
# net processing_system7_0_GPIO<23> LOC = N15 | IOSTANDARD = LVCMOS33;	# BTNL
# net processing_system7_0_GPIO<24> LOC = R18 | IOSTANDARD = LVCMOS33;	# BTNR
# net processing_system7_0_GPIO<25> LOC = T18 | IOSTANDARD = LVCMOS33;	# BTNU
# net processing_system7_0_GPIO<26> LOC = R16 | IOSTANDARD = LVCMOS33;	# BTND
# net processing_system7_0_GPIO<27> LOC = P16 | IOSTANDARD = LVCMOS33;	# BTNS

############################
#                          #
# Pmod JA                  #
#                          #
############################
# net processing_system7_0_GPIO<28> LOC = Y11  | IOSTANDARD = LVCMOS33;	# JA1
# net processing_system7_0_GPIO<29> LOC = AA11 | IOSTANDARD = LVCMOS33;	# JA2
# net processing_system7_0_GPIO<30> LOC = Y10  | IOSTANDARD = LVCMOS33;	# JA3
# net processing_system7_0_GPIO<31> LOC = AA9  | IOSTANDARD = LVCMOS33;	# JA4
# net processing_system7_0_GPIO<32> LOC = AB11 | IOSTANDARD = LVCMOS33;	# JA7
# net processing_system7_0_GPIO<33> LOC = AB10 | IOSTANDARD = LVCMOS33;	# JA8
# net processing_system7_0_GPIO<34> LOC = AB9  | IOSTANDARD = LVCMOS33;	# JA9
# net processing_system7_0_GPIO<35> LOC = AA8  | IOSTANDARD = LVCMOS33;	# JA10

############################
#                          #
# Pmod JB                  #
#                          #
############################
# net processing_system7_0_GPIO<36> LOC = W12 | IOSTANDARD = LVCMOS33;	# JB1
# net processing_system7_0_GPIO<37> LOC = W11 | IOSTANDARD = LVCMOS33;	# JB2
# net processing_system7_0_GPIO<38> LOC = V10 | IOSTANDARD = LVCMOS33;	# JB3
# net processing_system7_0_GPIO<39> LOC = W8  | IOSTANDARD = LVCMOS33;	# JB4
# net processing_system7_0_GPIO<40> LOC = V12 | IOSTANDARD = LVCMOS33;	# JB7
# net processing_system7_0_GPIO<41> LOC = W10 | IOSTANDARD = LVCMOS33;	# JB8
# net processing_system7_0_GPIO<42> LOC = V9  | IOSTANDARD = LVCMOS33;	# JB9
# net processing_system7_0_GPIO<43> LOC = V8  | IOSTANDARD = LVCMOS33;	# JB10

############################
#                          #
# Pmod JC                  #
#                          #
############################
# net processing_system7_0_GPIO<44> LOC = AB7 | IOSTANDARD = LVCMOS33;	# JC1_P	(JC1)
# net processing_system7_0_GPIO<45> LOC = AB6 | IOSTANDARD = LVCMOS33;	# JC1_N	(JC2)
# net processing_system7_0_GPIO<46> LOC = Y4  | IOSTANDARD = LVCMOS33;	# JC2_P	(JC3)
# net processing_system7_0_GPIO<47> LOC = AA4 | IOSTANDARD = LVCMOS33;	# JC2_N	(JC4)
# net processing_system7_0_GPIO<48> LOC = R6  | IOSTANDARD = LVCMOS33;	# JC3_P	(JC7)
# net processing_system7_0_GPIO<49> LOC = T6  | IOSTANDARD = LVCMOS33;	# JC3_N	(JC8)
# net processing_system7_0_GPIO<50> LOC = T4  | IOSTANDARD = LVCMOS33;	# JC4_P	(JC9)
# net processing_system7_0_GPIO<51> LOC = U4  | IOSTANDARD = LVCMOS33;	# JC4_N	(JC10)

############################
#                          #
# Pmod JD                  #
#                          #
############################
# net processing_system7_0_GPIO<52> LOC = V7  | IOSTANDARD = LVCMOS33;	# JD1_P	(JD1)
# net processing_system7_0_GPIO<53> LOC = W7  | IOSTANDARD = LVCMOS33;	# JD1_N	(JD2)
# net processing_system7_0_GPIO<54> LOC = V5  | IOSTANDARD = LVCMOS33;	# JD2_P	(JD3)
# net processing_system7_0_GPIO<55> LOC = V4  | IOSTANDARD = LVCMOS33;	# JD2_N	(JD4)
# net processing_system7_0_GPIO<56> LOC = W6  | IOSTANDARD = LVCMOS33;	# JD3_P	(JD7)
# net processing_system7_0_GPIO<57> LOC = W5  | IOSTANDARD = LVCMOS33;	# JD3_N	(JD8)
# net processing_system7_0_GPIO<58> LOC = U6  | IOSTANDARD = LVCMOS33;	# JD4_P	(JD9)
# net processing_system7_0_GPIO<59> LOC = U5  | IOSTANDARD = LVCMOS33;	# JD4_N	(JD10)
# 

#############################################################
#                                                           #
# Pin for detecting USB OTG over-current condition          #
#                                                           #
#############################################################
# 
# NET otg_oc          LOC = L16  | IOSTANDARD="LVCMOS33";

NET FCLK0 PERIOD=5.0ns;

